@model website_shopping.Controllers.UserController

@{
    ViewData["Title"] = "Đăng ký";
}

<div id="wrapper">
    <div id="container">
        <div class="row justify-content-around">
            <form method="post" class="col-md-4 bg-light p-3 my-3 justify-content-button">
                <h1 class="text-center text-uppercase h3 py-3">Đăng ký</h1>
                <div class="form-group mb-3">
                    <label asp-for="@Model.UserModel.Username"></label>
                    <input class="form-control" asp-for="@Model.UserModel.Username">
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.UserModel.Password"></label>
                    <input class="form-control" asp-for="@Model.UserModel.Password" type="password">
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.UserModel.Fullname"></label>
                    <input class="form-control" asp-for="@Model.UserModel.Fullname">
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.UserModel.Email"></label>
                    <input class="form-control" asp-for="@Model.UserModel.Email">
                </div>
                @* <div class="form-group mb-3">
                <label asp-for="@Model.UserModel.Sex"></label>
                <div>
                <div class="form-check form-check-inline">
                <input type="radio" name="gender" id="male" value="male" class="form-check-input">
                <label for="male" class="form-check-label">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                <input type="radio" name="gender" id="female" value="female" class="form-check-input">
                <label for="female" class="form-check-label">Nữ</label>
                </div>
                </div>
                </div> *@
                <div class="d-grid grap-1">
                    <input type="submit" value="Đăng ký" class="btn btn-info mt-3 text-light">
                </div>
            </form>

        </div>
    </div>
    <form action=""></form>
</div>