@using website_shopping.Models.Contexts
@inject ShopContext ShopContext


@foreach (var category in ShopContext.Categories)
{
    var products = ShopContext.Products.Where(p => p.id_category == category.Id).ToList();
    @if (products.Count != 0)
    {
        <div class="my-5" style="height: 20%;">
            <div class="row">
                <h2 class="col-10">@category.Name</h2>
                <a class="col-2" style="text-align: right;" href="">tất cả sản phẩm</a>
            </div>
            <div class="row">
                @foreach (var pro in products)
                {
                    <div class="card mx-2 mb-3" style="width: 23.8%">
                        <a asp-asp-area="" asp-controller="Home" asp-action="DetailProduct" asp-route-id="@pro.Id">
                            <img class="card-img-top mt-3" src="/uploads/products/@pro.ImageString" alt="Không tìm thấy ảnh">
                        </a>
                        <div class="card-body">
                            <span class="d-inline-block text-truncate" style=" max-width: 100%;font-weight:
                                bold;font-size: 18px;">
                                @pro.Name
                            </span>
                            <p class="card-text">@pro.Description</p>
                            <a class="btn btn-info text-light" asp-asp-area="" asp-controller="Home" asp-action="DetailProduct"
                                asp-route-id="@pro.Id">Xem chi tiết</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

}
